alembic~=1.8.1
asyncpg==0.26.0
fastapi-mail==1.1.4
fastapi-users-db-sqlalchemy==4.0.3
fastapi-users==10.1.5
fastapi==0.85.0
pydantic==1.10.2
PyJWT==2.4.0
pytest==6.2.4
requests==2.26.0
SQLAlchemy==1.4.41
uvicorn==0.18.3