:host {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-image: url('/assets/login-background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;

    .login-container {
        margin-left: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 5vh 4vw 0 4vw;
        border: 1px solid #888;
        border-radius: 4vh;
        backdrop-filter: blur(10px);

        .input-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 3vh;
            width: 20vw;

            label {
                margin-bottom: 0.5vh;
                font-size: 1.2rem;
            }

            input {
                border: none;
                border-bottom: 1px solid #888;
                background-color: rgba($color: #FFF, $alpha: 0.0);
                color: #000;
                font-size: 1rem;
            }
        }

        button {
            background-color: rgba($color: #FFF, $alpha: 0.1);
            padding: 1vh 1vw;
            border: 1px solid #888;
            border-radius: 1vh;
            font-weight: 600;
            font-size: 1rem;
            color: #FFF;
            margin: 2vh 0 4vh 0;
        }

        button:hover {
            background-color: rgba($color: #FFF, $alpha: 0.3);
            cursor: pointer;
        }

        a {
            color: #FFF;
            margin-bottom: 0.3vh;
            font-size: 0.8rem;
        }
    }
}
